<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>HTML Starter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.4/angular-filter.min.js"></script>
    <script src="js/js_constants.js"></script>
    
    <script>
      var myApp = angular.module('myApp',['angular.filter']);
       myApp.controller('EvaluationController', ['$scope', function($scope) {
        $scope.evaluations = evaluations; 
      }])
       .directive('myEvaluation', function(){
          return { templateUrl: 'directives/my-evaluation.html'};
        });
    </script>
  </head>
  
  <body ng-controller="EvaluationController">
    <div class="content-container" ng-repeat="(status, evaluation_groups) in evaluations | groupBy:'status'">
      <section>
        <h2>{{status | ucfirst}}</h2>
        <my-evaluation ng-repeat="evaluation in evaluation_groups | orderBy:'-updated_on'"></my-evaluation>
      </section>
    </div>
  </body>
</html>