<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>HTML Starter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="js/js_constants.js"></script>
    
    <script>
      var myApp = angular.module('myApp',[]);
       myApp.controller('EvaluationController', ['$scope', function($scope) {
        $scope.evaluations = evaluations;
      }]);
    </script>
  </head>
  
  <body ng-controller="EvaluationController">
    <div class="content-container">
      <div class="evaluation-container" ng-repeat="evaluation in evaluations">
        <div>
           <label>Form name:</label><a href="#"> {{evaluation.form.name}} <span class="badge">{{evaluation.status}}</span></a>
        </div>
        <div>
           <label>Target:</label>
           <span ng-if="evaluation.target_role.id > 0">{{evaluation.target.firstname}}, {{evaluation.target.lastname}}</span>
           <span ng-if="evaluation.target_role.id < 0"> {{evaluation.target.name}}</span>
           <span>({{evaluation.target_role.name}})</span>
        </div>
        <div>
           <label>Event: </label>{{evaluation.group.name}} -> {{evaluation.event.name}}
        </div>
        <div>
          <span><label>receveid on:</label> {{evaluation.received_on}}</span>
          <span><label>updated on:</label> {{evaluation.updated_on}}</span>
        </div>

      </div>
    </div>
  </body>
</html>