<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>HTML Starter</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  </head>
  <body>
    Name:<input ng-model="name" type="text"/>
    Hello {{name}}!
  </body>
</html>