body {width: 100%; margin-top: 20px;}

div.content-container
{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

div.evaluation-container
{
    padding: 5px;
    border: 1px solid #ccc;
    border-left: 5px solid red;
    border-radius: 5px;
    margin-bottom: 10px;
}

div.evaluation-container.saved
{
    border-left: 5px solid #FF9900;
}

div.evaluation-container.closed
{
    border-left: 5px solid #BBB;
}

div.evaluation-container.sent
{
    border-left: 5px solid #009933;
}