<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>HTML Starter</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script>
      var myApp = angular.module('myApp',[]);
    </script>
  </head>
  
  <body>
    <div>
      Firstname: <input ng-model="firstname" type="text"/>
      <br>
      Lastname: <input ng-model="lastname" type="text"/>
      <br>
      Hello {{firstname}} {{lastname}}!
    </div>
    <br>
    <br>
    <div>
      Firstname: <input ng-model="firstname" type="text"/>
      <br>
      Lastname: <input ng-model="lastname" type="text"/>
      <br>
      Hello {{firstname}} {{lastname}}!
    </div>
  </body>
</html>