<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>HTML Starter</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script>
        
       var question = {
         "question_id": 1,
         "type": "Text",
         "label": "<font color=\"#660000\">LLU School of Medicine Student Evaluation of Clerkship Attendings</font>",
         "order": "1",
         "mandatory": false,
         "predefined_answers": [],
         "constraints": [],
         "has_answer": false,
         "form_id": 19,
         "created_on": "2012-06-15T00:00:00-0700",
         "updated_on": "2012-07-09T13:45:15-0700",
         "url": "/api/v1/questions/1"
  };
  
      var myApp = angular.module('myApp',[]);
       myApp.controller('QuestionController', ['$scope', function($scope) {
        $scope.question= question;
      }]);
    </script>
    
    <style>
        div { margin: 5px;}
        #edits {float:left; width:25%; border-right: 2px solid; margin-right: 10px;} 
    </style>
  </head>
  
  <body ng-controller="QuestionController">
    <div id="edits">
        <div>
            Question type:
            <select id="type" ng-model="question.type">
                <option value="Text"> Text </option>
                <option value="Paragraph"> Paragraph </option>
                <option value="DateTime"> Date Time </option>
            </select>
        </div>
        <div>
            Question Text: <textarea cols="20" rows="3" ng-model="question.label"></textarea>
        </div>
        <div>
            Mandetory: <input type="checkbox" ng-model="question.mandatory"/>
        </div>
        
    </div>
    <div id="preivew">
        <div>Question type: {{question.type}}</div>
        <div>Question label: {{question.label}}</div>
        <div>Mandetory: {{question.mandatory}}</div>
        <div>Last Updated: {{question.updated_on}}</div>
    </div>
    <div style="clear:both;"></div>
  </body>
</html>