    <div class="evaluation-container" ng-class="evaluation.status">
        <div>
           <label>Form name:</label><a href="#"> {{evaluation.form.name}} <span class="badge" ng-class="evaluation.status">{{evaluation.status}}</span></a>
        </div>
        <div>
           <label>Target:</label>
           <span ng-if="evaluation.target_role.id > 0">{{evaluation.target.firstname}}, {{evaluation.target.lastname}}</span>
           <span ng-if="evaluation.target_role.id < 0"> {{evaluation.target.name}}</span>
           <span>({{evaluation.target_role.name}})</span>
        </div>
        <div>
           <label>Event: </label>{{evaluation.group.name}} -> {{evaluation.event.name}}
        </div>
        <div>
          <span><label>receveid on:</label> {{evaluation.received_on}}</span>
          <span><label>expired on:</label> {{evaluation.expired_on}}</span>
        </div>

    </div>