<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>HTML Starter</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script>
      var myApp = angular.module('myApp',[]);
      
      myApp.controller('NameController', ['$scope', function($scope) {
        $scope.firstname = 'John';
        $scope.lastname = 'Smith';
      }]);
      
      myApp.controller('Name2Controller', ['$scope', function($scope) {
        $scope.firstname = 'Jane';
        $scope.lastname = 'Doe';
      }]);
    </script>
  </head>
  
  <body>
    <div ng-controller="NameController">
      Firstname: <input ng-model="firstname" type="text"/>
      <br>
      Lastname: <input ng-model="lastname" type="text"/>
      <br>
      Hello {{firstname}} {{lastname}}!
    </div>
    <br>
    <br>
    <div ng-controller="Name2Controller">
      Firstname: <input ng-model="firstname" type="text"/>
      <br>
      Lastname: <input ng-model="lastname" type="text"/>
      <br>
      Hello {{firstname}} {{lastname}}!
    </div>
  </body>
</html>