<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>HTML Starter</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  </head>
  <body>
    Firstname:<input ng-model="firstname" type="text"/>
    Lastname:<input ng-model="lastname" type="text"/>
    <br>
    Firstname:<input ng-model="firstname" type="text"/>
    Lastname:<input ng-model="lastname" type="text"/>
    <br>
    Firstname:<input ng-model="firstname" type="text"/>
    Lastname:<input ng-model="lastname" type="text"/>
    <br>
    Firstname:<input ng-model="firstname" type="text"/>
    Lastname:<input ng-model="lastname" type="text"/>
    <br>
    Hello {{firstname}} {{lastname}}!
  </body>
</html>