<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>HTML Starter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="js/js_constants.js"></script>
    
    <script>
      var myApp = angular.module('myApp',[]);
       myApp.controller('EvaluationController', ['$scope', function($scope) {
        $scope.values = [2,3,4,5,6,2,3,4];
      }]);
    </script>
  </head>
  
  <body ng-controller="EvaluationController">
    <div class="content-container">
      <div>
          {{values[0]}}
      </div>
    </div>
  </body>
</html>