<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>HTML Starter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.4/angular-filter.min.js"></script>
    <script src="js/services/math.js"></script>
    
    <script>
      var myApp = angular.module('myApp',['angular.filter', 'math.module']);
       myApp
       .controller('CalculateController', ['$scope', 'MathService', function($scope, MathService) {
        $scope.number1 = 1
        $scope.number2 = 1;
        $scope.calcualteAction = function()
        {
          $scope.add = MathService.add($scope.number1, $scope.number2);
          $scope.subtract = MathService.subtract($scope.number1, $scope.number2);
          $scope.multiply = MathService.multiply($scope.number1, $scope.number2);
          $scope.divide = MathService.divide($scope.number1, $scope.number2);
        }
      }])
    </script>
  </head>
  
  <body ng-controller="CalculateController">
    <div class="content-container">
      <section>
        <label>First number: <input type="number" ng-model="number1"/> </label>
        <label>Second number: <input type="number" ng-model="number2" /></label>
        <buton type="button" class="btn btn-primary" ng-click="calcualteAction()">Calculate</button>
      </section>
      <section>
        <div>Addition: {{add}}</div>
        <div>Subtraction: {{subtract}}</div>
        <div>Division: {{divide}}</div>
        <div>Multiplication: {{multiply}}<div>
      </section>
      
      
    </div>
  </body>
</html>